body {
    color: #1f222e;
    background: #4f5d75;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.turn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 360px;
    margin-bottom: 15px;
}
.nam, .nm {
    margin: 15px;
    font-size: 26px;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri;
}
.nm {
    color: lightseagreen;
}
.nam1 {
    color: lightsalmon;
}
.nam2 {
    color: lightblue;
}
.vs {
    font-size: 32px;
    font-weight: 700;
}

.after {
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
.msg {
    /* background-image: linear-gradient(90deg, rgba(255,0,0) 0%, rgba(0,0,255) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    font-weight: 700;
    font-size: 30px;
    margin: 10px;
}
.reset{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #2d3142;
    border-radius: 10px;
    background: #bfc0c0;
    width: 80px;
    font-size: 24px;
    cursor: pointer;
    margin: 15px;
} .reset:hover {
    background: #d0dddd;
}

.link {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: -5px;
    width: 100%;
    padding: 5px;
    border: 4px solid #2d3142;
    background: #bfc0c0;
}
.link p {
    margin: 20px 0;
    max-width: 350px;
    padding: 0 20px;
}
.btn {
    background: lightseagreen;
    display: flex;
    font-weight: 100;
    justify-content: center;
    align-items: center;
    border: 2px solid #2d3142;
    width: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri;
    font-size: 18px;
    padding: 6px;
    height: 40px;
    cursor: pointer;
    color:black;
    margin: 20px;
    text-decoration: none;
} .btn:hover {
    background: lightskyblue;
}


/*********************/
/*Rock-Paper-Scissors*/
/*********************/
.inputRBS {
    display: flex;
    justify-content: center;
    align-items: center;
}
.option {
    background: #bfc0c0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #2d3142;
    width: 120px;
    height: 120px;
    margin: 0 5px;
    border-radius: 20px;
    transition: none;
}
.clk {
    cursor: pointer;
} .clk:hover {
    background-color: #d0dddd;
}
.W {
    color: lightgreen;
}
.D {
    color: #ffee93;
}
.L {
    color: lightcoral;
}

.moveRight {
    position: relative;
    left: -60px;
    transform: translateX(120px);
    transition: transform 2s cubic-bezier(0, 1, 0.55, 1);
}
.moveLeft {
    position: relative;
    right: -60px;
    transform: translateX(-120px);
    transition: transform 2s cubic-bezier(0, 1, 0.55, 1);
}
.cpu {
    transform: scaleX(-1);
}


/*************/
/*Tic-Tac-Toe*/
/*************/
.inputXO {
    border: 5px solid #2d3142;
    border-radius: 10px;
    background: #bfc0c0;
    background-image: url("imgs/XO.png");
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    row-gap: 5px;
    margin-bottom: 20px;
}
.square {
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 80px;
    height: 80px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 30px;
    box-sizing: border-box;
} .square:hover {
    background: #d0dddd;
}
.line {
    position: absolute;
    top: 35px;
    left: 10px;
    width: 0;
    height: 10px;
    background: rgb(133, 43, 43);
    transform-origin: 0%;
    transition: none;
    border-radius: 5px;
}
.win {
    transition: width 0.5s linear;
    width: 230px;
}
.row1 {
    top: 35px;
    left: 10px;
}
.row2 {
    top: 120px;
    left: 10px;
}
.row3 {
    top: 205px;
    left: 10px;
}
.col1 {
    top: 5px;
    left: 40px;
    transform: rotate(90deg);
}
.col2 {
    top: 5px;
    left: 125px;
    transform: rotate(90deg);
}
.col3 {
    top: 5px;
    left: 210px;
    transform: rotate(90deg);
}
.dig1 {
    top: 10px;
    left: 15px;
    transform: rotate(45deg);
    width: 310px;
}
.dig2 {
    top: 10px;
    left: 235px;
    transform: rotate(135deg);
    width: 310px;
}

@media (max-width:600px) {
    .inputRBS{
        flex-direction: column;
    }
    .moveRight {
        transform: translateX(80px);
    }
    .moveLeft {
        transform: translateX(-80px);
    }
    .turn {
        width: 80%;
    }
}